/* -----------------------------------------------------------
  Section — Categories
----------------------------------------------------------- */

/* ---------------- Layout Base ---------------- */

.category-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.category-cards .card {
  width: 312px;
  height: 220px;
  background-color: var(--background-secondary-color);
  text-align: center;
  border-radius: 8px;
  padding: 40px 24px;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-primary-color);
}

.category-cards .card h3 {
  margin: 0;
}

.category-cards .card img {
  width: 80px;
  height: 80px;
  padding-bottom: 24px;
}

.category-cards .card.single-line h3 {
  padding-top: 15px;
}

/* ---------------- Tablet ---------------- */

@media screen and (min-width: 768px) {
  .category-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* ---------------- Desktop ---------------- */

@media screen and (min-width: 1024px) {
  .category-cards .card {
    width: 430px;
  }
}

/* ---------------- Large Desktop ---------------- */

@media screen and (min-width: 1440px) {
  .category-cards .card {
    width: 280px;
  }
}
