.categories {
  margin-bottom: 88px;
}

.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.categories-cards .card {
  width: 312px;
  height: 220px;
  background-color: var(--background-secondary-color);
  text-align: center;
  border-radius: 8px;
  padding: 24px;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-primary-color);
}

.categories-cards .card img {
  width: 80px;
  height: 80px;
}

.categories-cards .card h3 {
  font-size: 28px;
  font-weight: var(--title-weight);
}

.categories-cards .card.single-line {
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .categories-cards .card {
    width: 430px;
  }
}

@media screen and (min-width: 1440px) {
  .categories-cards .card {
    width: 280px;
  }
}
