/* -----------------------------------------------------------
  Categories Section
----------------------------------------------------------- */
.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

/* Cards */
.categories-cards .card {
  width: 312px;
  height: 220px;
  padding: 24px;
  background-color: var(--background-secondary-color);

  border-radius: 8px;
  box-sizing: border-box;

  text-align: center;
  text-decoration: none;
  color: var(--text-primary-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories-cards .card img {
  width: 80px;
  height: 80px;
}

/* Ajuste visual para títulos de 1 linha */
.categories-cards .card.single-line {
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .categories-cards .card {
    width: 430px;
  }
}

@media screen and (min-width: 1440px) {
  .categories-cards .card {
    width: 280px;
  }
}
