/* -----------------------------------------------------------
  Section — Header
----------------------------------------------------------- */

/* ---------------- Layout Base ---------------- */

.main-header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.header-logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.logo-mobile {
  display: block;
}

.logo-desktop {
  display: none;
}

.nav-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

nav {
  display: none;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  margin: 16px 0;
}

.nav-links li a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: var(--menu-text-weight);
  font-size: 24px;
}

/* ---------------- Tablet ---------------- */

@media screen and (min-width: 768px) {
  .nav-menu {
    margin-top: 0;
    width: 467px;
  }

  .nav-menu label {
    display: none;
  }

  .nav-menu nav {
    display: block;
  }

  .nav-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .nav-menu li {
    margin: 0;
  }
}

/* ---------------- Desktop ---------------- */

@media screen and (min-width: 1024px) {
  .main-header {
    padding: 38px 120px;
  }

  .header-logo {
    width: 260px;
    height: 64px;
  }

  .logo-desktop {
    display: block;
  }

  .logo-mobile {
    display: none;
  }

  .nav-menu a:hover {
    color: var(--primary-color);
  }
}

/* ---------------- Large Desktop ---------------- */

@media screen and (min-width: 1920px) {
  .main-header {
    padding: 38px 160px;
  }
}
