.cards {
  color: var(--text-secondary-color);
  background-color: black;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}

.cards header {
  display: block;
  background-color: transparent;
  position: static;
}

.cards header p {
  font-weight: var(--text-weight);
  font-size: 20px;
}
.cards header h3 {
  font-weight: var(--title-weight);
  font-size: 40px;
  margin: 8px 0 0;
}
.cards header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}
