/* -----------------------------------------------------------
  Section — Payments
----------------------------------------------------------- */

/* ---------------- Layout Base ---------------- */

.payments .payment-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
}

.payments .payment-container .payment-gallery .image.first {
  background: url(../img/gallery1-mobile.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.payments .payment-container .payment-gallery .image.second {
  background: url(../img/gallery2-mobile.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.payments .payment-container .payment-gallery .image.third {
  background: url(../img/gallery3-mobile.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.payments .payment-container .payment-gallery .image.colspan-2 {
  grid-column: span 2;
}

/* ---------------- Tablet ---------------- */

@media screen and (min-width: 768px) {
  .payments .payment-container .payment-gallery .image.first {
    background: url(../img/gallery1-tablet-desktop.png) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .payments .payment-container .payment-gallery .image.second {
    background: url(../img/gallery2-tablet-desktop.png) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .payments .payment-container .payment-gallery .image.third {
    background: url(../img/gallery3-tablet-desktop.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
}

/* ---------------- Large Desktop ---------------- */

@media screen and (min-width: 1440px) {
  .payments .payment-container {
    display: flex;
    justify-content: space-between;
  }

  .payments .payment-container .text-content {
    width: 360px;
  }

  .payments .payment-container .payment-gallery {
    width: 790px;
    margin: 0;
  }
}
