:root {
  --background-primary-color: #ffffff;
  --background-secundary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --butoon-primary-color: #8f0101;
  --butoon-secundary-color: #b81515;

  --text-primary-color: #222222;
  --text-secundary-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
